.logo {
  margin-top: 60px;
  margin-bottom: 5px; }

.jumbotron {
  padding: 2rem 1rem;
  background-color: #5d7da8;
  color: white;
  border-radius: 0.3rem;
  /* margin-top: 50px; */
  /* margin: 50px 0px 0px 0px; */ }

.newsec {
  padding: 1rem 1rem;
  color: white;
  background-color: #5d7da8;
  margin-top: 15px;
  margin-bottom: 0px; }

/* No lleva punto */
footer {
  padding: 10px 10px 0px 10px;
  background-color: #3939f0;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-leermas {
  width: 100%;
  border-radius: 0px; }

.breadcrumb {
  background-color: gainsboro;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 15px; }

.footer-address-icon {
  padding-right: 10px; }

/*# sourceMappingURL=styles.css.map */
