@blue1: #5d7da8;
@blue2: #3939f0;
@gray1: gainsboro;
@white1: white;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.logo {
  .margenes(60px, 5px);
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: @blue1;
  color: @white1;
  border-radius: 0.3rem;
  /* margin-top: 50px; */
  /* margin: 50px 0px 0px 0px; */
}

.newsec {
  padding: 1rem 1rem;
  color: @white1;
  background-color: @blue1;
  .margenes(15px, 0px);
}

/* No lleva punto */
footer {
  padding: 10px 10px 0px 10px;
  background-color: @blue2;
  .margenes(10px, 0px);
  color: @white1;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  .margenes(10px, 10px);
}

.btn-leermas {
  width: 100%;
  border-radius: 0px;
}

.breadcrumb {
  background-color: @gray1;
  padding: 4px;
  .margenes(10px, 15px);
}

.footer-address-icon {
  padding-right: 10px;
}
